@model List<SIIE.Models.AlumnosTutoriaRelationship>

@{
    ViewBag.Title = "Sistema De Tutorias";
    ViewBag.MainBreadcrumb = "Inicio";
    ViewBag.ChildBreadCrumb = "Cursando";
    ViewBag.ActiveCursando = "active";
    Layout = "~/Views/Shared/_LayoutTutorias.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>&nbsp; Cursando
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tutor</th>
                        <th>Materia</th>
                        <th>Calificacion</th>
                        <th>Horario</th>
                        <th>Alumnos</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach (var materia in Model)
                    {
                        <tr>
                            <td>@materia.Tutorias.Name</td>
                            <td>@materia.Tutorias.Tutores.Loginn.Maestro.FirstOrDefault().ApellidoP @materia.Tutorias.Tutores.Loginn.Maestro.FirstOrDefault().Nombre</td>
                            <td>@materia.Tutorias.Materia.NombreMateria</td>
                            <td>@materia.Calificacion</td>
                            <td><a href="/Tutorias/Horario/@materia.Id">Ver Horario</a></td>
                            <td><a href="/Tutorias/Cursando/@materia.IdTutoria">Ver Alumnos</a></td>
                            <td><a href="/Tutorias/Delete/@materia.IdTutoria" style="color:red">Darse De Baja</a></td>
                        </tr>
                    }
                </tfoot>
            </table>
        </div>
    </div>
</div>