<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - SIIE</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/engine")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
</head>
<body>
    @RenderBody()
</body>
</html>
