<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon" sizes="16x16">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>@ViewBag.Title - SIIE</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/engine")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sbAdmin")
    @Scripts.Render("~/bundles/sbAdminjs")
    @RenderSection("styles", false)
</head>

<body class="fixed-nav sticky-footer bg-dark" style="padding-top:0" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <img id="loguito" style="width:80px;margin-right:10px " src="~/Content/Images/Logo_Mesa de trabajo 1.png" alt="">
      @switch (Session["level"].ToString())
      {
          case "1":
            <a class="navbar-brand" href="/Tutorias/List">Sistema De Tutorias - Administrador </a>
              break;
          case "2":
            <a class="navbar-brand" href="/Tutorias/List">Sistema De Tutorias - Maestro </a>
              break;
          case "3":
            <a class="navbar-brand" href="/Tutorias/List">Sistema De Tutorias - Alumno </a>
              break;
      }
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" style="padding-top:20px" id="exampleAccordion">
          @if (Session["level"].ToString() == "3")
          {
                <li class="nav-item @ViewBag.ActiveCursando " data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="/Tutorias">
                        <i class="fa fa-calendar"></i>
                        <span class="nav-link-text">Cursando</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.ActiveRecomendaciones" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="/Tutorias/Tutorados/Recomendaciones">
                        <i class="fa fa-question"></i>
                        <span class="nav-link-text">Recomendaciones</span>
                    </a>
                </li>
          }
        @if (Session["level"].ToString() == "2")
        {
            <li class="nav-item @ViewBag.ActiveCursando " data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" href="/Tutorias/Tutores/Impartiendo">
                    <i class="fa fa-calendar"></i>
                    <span class="nav-link-text">Impartiendo</span>
                </a>
            </li>
        }
        <li class="nav-item @ViewBag.ActiveTutorias" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/Tutorias/List">
            <i class="fa fa-calendar"></i>
            <span class="nav-link-text">Tutorias</span>
          </a>
        </li>
        <li class="nav-item @ViewBag.ActiveTutores" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/Tutorias/Tutores">
            <i class="fa fa-address-card"></i>
            <span class="nav-link-text">Tutores</span>
          </a>
        </li>
        @if (Session["level"].ToString() == "1")
        {
        <li class="nav-item @ViewBag.ActiveTutorados" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/Tutorias/Tutorados">
            <i class="fa fa-address-card-o"></i>
            <span class="nav-link-text">Tutorados</span>
          </a>
        </li>
        }
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link"> @Session["controlNumber"].ToString() </a>
          </li>          
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>@ViewBag.MainBreadcrumb</a>
        </li>
        <li class="breadcrumb-item active">@ViewBag.ChildBreadCrumb</li>
      </ol>
    @RenderBody()
    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © SIIE - Sistema De Tutorias 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesion?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-footer">
              <a class="btn btn-primary" id="logout">Si</a>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
